{{ template "base.html" }}

<body>
    <h1 hx-get="/pastes" hx-trigger="click" hx-target="#hello">
        Hello, world!
    </h1>
    <p id="hello"></p>

    <form>
        <textarea name="content" id="content" cols="30" rows="10" placeholder="Enter Text"></textarea>
        <input type="text" name="lang" id="lang" placeholder="Enter Language">
        <button hx-post="/create_paste" hx-trigger="click" hx-target="#result">Submit</button>
    </form>

    <p id="result"></p>
</body>

<script>
    authRes = fetch("/auth").then(res => {if(res.status !== 200) {
        window.location.href = "/login"
    }})
</script>